{:index 0, :time 41, :type :invoke, :process 0, :f :write, :value ["a" 0]}
{:index 1, :time 2193, :type :ok, :process 0, :f :write, :value ["a" 0]}
{:index 2, :time 2223, :type :invoke, :process 0, :f :write, :value ["b" 0]}
{:index 3, :time 3281, :type :ok, :process 0, :f :write, :value ["b" 0]}
{:index 4, :time 3307, :type :invoke, :process 0, :f :write, :value ["a" 1]}
{:index 5, :time 4588, :type :ok, :process 0, :f :write, :value ["a" 1]}
{:index 6, :time 4609, :type :invoke, :process 0, :f :write, :value ["b" 2]}
{:index 7, :time 5404, :type :ok, :process 0, :f :write, :value ["b" 2]}
{:index 8, :time 5426, :type :invoke, :process 0, :f :write, :value ["c" 0]}
{:index 9, :time 6449, :type :ok, :process 0, :f :write, :value ["c" 0]}
{:index 10, :time 6468, :type :invoke, :process 0, :f :write, :value ["a" 2]}
{:index 11, :time 7691, :type :ok, :process 0, :f :write, :value ["a" 2]}
{:index 12, :time 7711, :type :invoke, :process 0, :f :write, :value ["c" 1]}
{:index 13, :time 9869, :type :ok, :process 0, :f :write, :value ["c" 1]}
{:index 14, :time 9891, :type :invoke, :process 0, :f :write, :value ["a" 3]}
{:index 15, :time 10339, :type :ok, :process 0, :f :write, :value ["a" 3]}
{:index 16, :time 10361, :type :invoke, :process 0, :f :write, :value ["b" 3]}
{:index 17, :time 11665, :type :ok, :process 0, :f :write, :value ["b" 3]}
{:index 18, :time 11685, :type :invoke, :process 0, :f :write, :value ["c" 2]}
{:index 19, :time 12889, :type :ok, :process 0, :f :write, :value ["c" 2]}
{:index 20, :time 18938, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 21, :time 19301, :type :ok, :process 2, :f :read, :value ["a" 1]}
{:index 22, :time 19527, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 23, :time 19757, :type :ok, :process 2, :f :read, :value ["b" 0]}
{:index 24, :time 19846, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 25, :time 20084, :type :fail, :process 2, :f :read, :value ["c" nil]}
{:index 26, :time 38467, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 27, :time 38797, :type :ok, :process 2, :f :read, :value ["a" 2]}
{:index 28, :time 38961, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 29, :time 39183, :type :ok, :process 2, :f :read, :value ["b" 2]}
{:index 30, :time 39288, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 31, :time 39484, :type :ok, :process 2, :f :read, :value ["c" 1]}
{:index 32, :time 54800, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 33, :time 55144, :type :ok, :process 2, :f :read, :value ["a" 3]}
{:index 34, :time 55277, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 35, :time 55485, :type :ok, :process 2, :f :read, :value ["b" 3]}
{:index 36, :time 55568, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 37, :time 55760, :type :ok, :process 2, :f :read, :value ["c" 2]}
