{:index 0, :time 63, :type :invoke, :process 0, :f :write, :value ["P0_x" 0]}
{:index 1, :time 1623, :type :ok, :process 0, :f :write, :value ["P0_x" 0]}
{:index 2, :time 1650, :type :invoke, :process 0, :f :write, :value ["P3_y" 0]}
{:index 3, :time 4710, :type :ok, :process 0, :f :write, :value ["P3_y" 0]}
{:index 4, :time 4739, :type :invoke, :process 0, :f :write, :value ["P0_z" 0]}
{:index 5, :time 5494, :type :ok, :process 0, :f :write, :value ["P0_z" 0]}
{:index 6, :time 5513, :type :invoke, :process 0, :f :write, :value ["P0_x" 1]}
{:index 7, :time 5903, :type :ok, :process 0, :f :write, :value ["P0_x" 1]}
{:index 8, :time 5928, :type :invoke, :process 0, :f :write, :value ["P3_y" 2]}
{:index 9, :time 7455, :type :ok, :process 0, :f :write, :value ["P3_y" 2]}
{:index 10, :time 7476, :type :invoke, :process 0, :f :write, :value ["P0_z" 3]}
{:index 11, :time 8280, :type :ok, :process 0, :f :write, :value ["P0_z" 3]}
{:index 12, :time 8301, :type :invoke, :process 1, :f :read, :value ["P0_x" nil]}
{:index 13, :time 8544, :type :ok, :process 1, :f :read, :value ["P0_x" 0]}
{:index 14, :time 8823, :type :invoke, :process 1, :f :read, :value ["P3_y" nil]}
{:index 15, :time 9036, :type :ok, :process 1, :f :read, :value ["P3_y" 0]}
{:index 16, :time 9128, :type :invoke, :process 1, :f :read, :value ["P0_z" nil]}
{:index 17, :time 9329, :type :ok, :process 1, :f :read, :value ["P0_z" 0]}
{:index 18, :time 12180, :type :invoke, :process 1, :f :read, :value ["P0_x" nil]}
{:index 19, :time 12412, :type :ok, :process 1, :f :read, :value ["P0_x" 1]}
{:index 20, :time 12535, :type :invoke, :process 1, :f :read, :value ["P3_y" nil]}
{:index 21, :time 12729, :type :ok, :process 1, :f :read, :value ["P3_y" 2]}
{:index 22, :time 12825, :type :invoke, :process 1, :f :read, :value ["P0_z" nil]}
{:index 23, :time 13015, :type :ok, :process 1, :f :read, :value ["P0_z" 3]}
