{:index 0, :time 25, :type :invoke, :process 0, :f :write, :value ["a" 0]}
{:index 1, :time 42120, :type :ok, :process 0, :f :write, :value ["a" 0]}
{:index 2, :time 42168, :type :invoke, :process 0, :f :write, :value ["b" 0]}
{:index 3, :time 44225, :type :ok, :process 0, :f :write, :value ["b" 0]}
{:index 4, :time 44250, :type :invoke, :process 0, :f :write, :value ["c" 0]}
{:index 5, :time 45691, :type :ok, :process 0, :f :write, :value ["c" 0]}
{:index 6, :time 45711, :type :invoke, :process 0, :f :write, :value ["a" 1]}
{:index 7, :time 58219, :type :ok, :process 0, :f :write, :value ["a" 1]}
{:index 8, :time 58246, :type :invoke, :process 0, :f :write, :value ["b" 1]}
{:index 9, :time 99912, :type :ok, :process 0, :f :write, :value ["b" 1]}
{:index 10, :time 99953, :type :invoke, :process 0, :f :write, :value ["c" 1]}
{:index 11, :time 101258, :type :ok, :process 0, :f :write, :value ["c" 1]}
{:index 12, :time 115432, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 13, :time 115900, :type :ok, :process 2, :f :read, :value ["a" 0]}
{:index 14, :time 117949, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 15, :time 118414, :type :ok, :process 2, :f :read, :value ["b" 0]}
{:index 16, :time 118520, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 17, :time 118743, :type :ok, :process 2, :f :read, :value ["c" 0]}
{:index 18, :time 118825, :type :invoke, :process 3, :f :read, :value ["a" nil]}
{:index 19, :time 119029, :type :ok, :process 3, :f :read, :value ["a" 0]}
{:index 20, :time 119108, :type :invoke, :process 3, :f :read, :value ["b" nil]}
{:index 21, :time 119301, :type :ok, :process 3, :f :read, :value ["b" 0]}
{:index 22, :time 119380, :type :invoke, :process 3, :f :read, :value ["c" nil]}
{:index 23, :time 119563, :type :ok, :process 3, :f :read, :value ["c" 0]}
{:index 24, :time 205817, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 25, :time 206202, :type :ok, :process 2, :f :read, :value ["a" 0]}
{:index 26, :time 206436, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 27, :time 206674, :type :ok, :process 2, :f :read, :value ["b" 0]}
{:index 28, :time 206787, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 29, :time 207024, :type :ok, :process 2, :f :read, :value ["c" 0]}
{:index 30, :time 207105, :type :invoke, :process 3, :f :read, :value ["a" nil]}
{:index 31, :time 207297, :type :ok, :process 3, :f :read, :value ["a" 0]}
{:index 32, :time 207376, :type :invoke, :process 3, :f :read, :value ["b" nil]}
{:index 33, :time 207630, :type :ok, :process 3, :f :read, :value ["b" 0]}
{:index 34, :time 207712, :type :invoke, :process 3, :f :read, :value ["c" nil]}
{:index 35, :time 208154, :type :ok, :process 3, :f :read, :value ["c" 0]}
{:index 36, :time 237463, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 37, :time 237803, :type :ok, :process 2, :f :read, :value ["a" 1]}
{:index 38, :time 237946, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 39, :time 238184, :type :ok, :process 2, :f :read, :value ["b" 1]}
{:index 40, :time 238275, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 41, :time 238469, :type :ok, :process 2, :f :read, :value ["c" 1]}
{:index 42, :time 238559, :type :invoke, :process 3, :f :read, :value ["a" nil]}
{:index 43, :time 238742, :type :ok, :process 3, :f :read, :value ["a" 1]}
{:index 44, :time 238844, :type :invoke, :process 3, :f :read, :value ["b" nil]}
{:index 45, :time 239044, :type :ok, :process 3, :f :read, :value ["b" 1]}
{:index 46, :time 239126, :type :invoke, :process 3, :f :read, :value ["c" nil]}
{:index 47, :time 239309, :type :ok, :process 3, :f :read, :value ["c" 1]}
