{:index 0, :time 50, :type :invoke, :process 0, :f :write, :value ["P0_x" 0]}
{:index 1, :time 1619, :type :ok, :process 0, :f :write, :value ["P0_x" 0]}
{:index 2, :time 1648, :type :invoke, :process 0, :f :write, :value ["P3_y" 0]}
{:index 3, :time 4706, :type :ok, :process 0, :f :write, :value ["P3_y" 0]}
{:index 4, :time 4732, :type :invoke, :process 0, :f :write, :value ["P0_z" 0]}
{:index 5, :time 5491, :type :ok, :process 0, :f :write, :value ["P0_z" 0]}
{:index 6, :time 5512, :type :invoke, :process 0, :f :write, :value ["P0_x" 1]}
{:index 7, :time 5900, :type :ok, :process 0, :f :write, :value ["P0_x" 1]}
{:index 8, :time 5923, :type :invoke, :process 0, :f :write, :value ["P3_y" 2]}
{:index 9, :time 7452, :type :ok, :process 0, :f :write, :value ["P3_y" 2]}
{:index 10, :time 7474, :type :invoke, :process 0, :f :write, :value ["P0_z" 3]}
{:index 11, :time 8277, :type :ok, :process 0, :f :write, :value ["P0_z" 3]}
