{:index 0, :time 16, :type :invoke, :process 0, :f :write, :value ["a" 0]}
{:index 1, :time 42114, :type :ok, :process 0, :f :write, :value ["a" 0]}
{:index 2, :time 42166, :type :invoke, :process 0, :f :write, :value ["b" 0]}
{:index 3, :time 44222, :type :ok, :process 0, :f :write, :value ["b" 0]}
{:index 4, :time 44244, :type :invoke, :process 0, :f :write, :value ["c" 0]}
{:index 5, :time 45688, :type :ok, :process 0, :f :write, :value ["c" 0]}
{:index 6, :time 45709, :type :invoke, :process 0, :f :write, :value ["a" 1]}
{:index 7, :time 58216, :type :ok, :process 0, :f :write, :value ["a" 1]}
{:index 8, :time 58242, :type :invoke, :process 0, :f :write, :value ["b" 1]}
{:index 9, :time 99906, :type :ok, :process 0, :f :write, :value ["b" 1]}
{:index 10, :time 99951, :type :invoke, :process 0, :f :write, :value ["c" 1]}
{:index 11, :time 101254, :type :ok, :process 0, :f :write, :value ["c" 1]}
{:index 12, :time 131346, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 13, :time 131722, :type :ok, :process 2, :f :read, :value ["a" 0]}
{:index 14, :time 131862, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 15, :time 132097, :type :ok, :process 2, :f :read, :value ["b" 1]}
{:index 16, :time 132209, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 17, :time 132458, :type :ok, :process 2, :f :read, :value ["c" 0]}
{:index 18, :time 132555, :type :invoke, :process 3, :f :read, :value ["a" nil]}
{:index 19, :time 132809, :type :ok, :process 3, :f :read, :value ["a" 0]}
{:index 20, :time 132903, :type :invoke, :process 3, :f :read, :value ["b" nil]}
{:index 21, :time 133107, :type :ok, :process 3, :f :read, :value ["b" 0]}
{:index 22, :time 133189, :type :invoke, :process 3, :f :read, :value ["c" nil]}
{:index 23, :time 133370, :type :ok, :process 3, :f :read, :value ["c" 1]}
{:index 24, :time 216016, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 25, :time 216352, :type :ok, :process 2, :f :read, :value ["a" 0]}
{:index 26, :time 216511, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 27, :time 216737, :type :ok, :process 2, :f :read, :value ["b" 1]}
{:index 28, :time 216823, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 29, :time 217025, :type :ok, :process 2, :f :read, :value ["c" 1]}
{:index 30, :time 217106, :type :invoke, :process 3, :f :read, :value ["a" nil]}
{:index 31, :time 217289, :type :ok, :process 3, :f :read, :value ["a" 0]}
{:index 32, :time 217375, :type :invoke, :process 3, :f :read, :value ["b" nil]}
{:index 33, :time 217565, :type :ok, :process 3, :f :read, :value ["b" 1]}
{:index 34, :time 217643, :type :invoke, :process 3, :f :read, :value ["c" nil]}
{:index 35, :time 217832, :type :ok, :process 3, :f :read, :value ["c" 1]}
{:index 36, :time 247001, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 37, :time 247341, :type :ok, :process 2, :f :read, :value ["a" 1]}
{:index 38, :time 247472, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 39, :time 247702, :type :ok, :process 2, :f :read, :value ["b" 1]}
{:index 40, :time 247790, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 41, :time 247981, :type :ok, :process 2, :f :read, :value ["c" 1]}
{:index 42, :time 248091, :type :invoke, :process 3, :f :read, :value ["a" nil]}
{:index 43, :time 248290, :type :ok, :process 3, :f :read, :value ["a" 1]}
{:index 44, :time 248372, :type :invoke, :process 3, :f :read, :value ["b" nil]}
{:index 45, :time 248566, :type :ok, :process 3, :f :read, :value ["b" 1]}
{:index 46, :time 248645, :type :invoke, :process 3, :f :read, :value ["c" nil]}
{:index 47, :time 249081, :type :ok, :process 3, :f :read, :value ["c" 1]}
