{:index 0, :time 28, :type :invoke, :process 0, :f :write, :value ["a" 0]}
{:index 1, :time 2189, :type :ok, :process 0, :f :write, :value ["a" 0]}
{:index 2, :time 2221, :type :invoke, :process 0, :f :write, :value ["b" 0]}
{:index 3, :time 3278, :type :ok, :process 0, :f :write, :value ["b" 0]}
{:index 4, :time 3301, :type :invoke, :process 0, :f :write, :value ["a" 1]}
{:index 5, :time 4585, :type :ok, :process 0, :f :write, :value ["a" 1]}
{:index 6, :time 4607, :type :invoke, :process 0, :f :write, :value ["b" 2]}
{:index 7, :time 5401, :type :ok, :process 0, :f :write, :value ["b" 2]}
{:index 8, :time 5422, :type :invoke, :process 0, :f :write, :value ["c" 0]}
{:index 9, :time 6446, :type :ok, :process 0, :f :write, :value ["c" 0]}
{:index 10, :time 6467, :type :invoke, :process 0, :f :write, :value ["a" 2]}
{:index 11, :time 7689, :type :ok, :process 0, :f :write, :value ["a" 2]}
{:index 12, :time 7709, :type :invoke, :process 0, :f :write, :value ["c" 1]}
{:index 13, :time 9865, :type :ok, :process 0, :f :write, :value ["c" 1]}
{:index 14, :time 9889, :type :invoke, :process 0, :f :write, :value ["a" 3]}
{:index 15, :time 10337, :type :ok, :process 0, :f :write, :value ["a" 3]}
{:index 16, :time 10356, :type :invoke, :process 0, :f :write, :value ["b" 3]}
{:index 17, :time 11662, :type :ok, :process 0, :f :write, :value ["b" 3]}
{:index 18, :time 11683, :type :invoke, :process 0, :f :write, :value ["c" 2]}
{:index 19, :time 12886, :type :ok, :process 0, :f :write, :value ["c" 2]}
{:index 20, :time 26286, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 21, :time 26658, :type :ok, :process 2, :f :read, :value ["a" 2]}
{:index 22, :time 26789, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 23, :time 27022, :type :ok, :process 2, :f :read, :value ["b" 3]}
{:index 24, :time 27120, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 25, :time 27308, :type :ok, :process 2, :f :read, :value ["c" 2]}
{:index 26, :time 45390, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 27, :time 45719, :type :ok, :process 2, :f :read, :value ["a" 2]}
{:index 28, :time 45855, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 29, :time 46067, :type :ok, :process 2, :f :read, :value ["b" 3]}
{:index 30, :time 46156, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 31, :time 46351, :type :ok, :process 2, :f :read, :value ["c" 2]}
{:index 32, :time 61640, :type :invoke, :process 2, :f :read, :value ["a" nil]}
{:index 33, :time 61981, :type :ok, :process 2, :f :read, :value ["a" 3]}
{:index 34, :time 62111, :type :invoke, :process 2, :f :read, :value ["b" nil]}
{:index 35, :time 62318, :type :ok, :process 2, :f :read, :value ["b" 3]}
{:index 36, :time 62424, :type :invoke, :process 2, :f :read, :value ["c" nil]}
{:index 37, :time 62624, :type :ok, :process 2, :f :read, :value ["c" 2]}
