{:index 0, :time 40, :type :invoke, :process 0, :f :write, :value ["a" 0]}
{:index 1, :time 1485, :type :ok, :process 0, :f :write, :value ["a" 0]}
{:index 2, :time 1507, :type :invoke, :process 0, :f :write, :value ["b" 0]}
{:index 3, :time 2511, :type :ok, :process 0, :f :write, :value ["b" 0]}
{:index 4, :time 6608, :type :invoke, :process 0, :f :write, :value ["a" nil]}
{:index 5, :time 11947, :type :ok, :process 0, :f :write, :value ["a" nil]}
{:index 6, :time 12143, :type :invoke, :process 0, :f :write, :value ["b" nil]}
{:index 7, :time 13064, :type :ok, :process 0, :f :write, :value ["b" nil]}
{:index 8, :time 13079, :type :invoke, :process 0, :f :read, :value ["a" nil]}
{:index 9, :time 13268, :type :fail, :process 0, :f :read, :value ["a" nil]}
{:index 10, :time 13390, :type :invoke, :process 0, :f :read, :value ["b" nil]}
{:index 11, :time 13553, :type :fail, :process 0, :f :read, :value ["b" nil]}
{:index 12, :time 13595, :type :invoke, :process 1, :f :read, :value ["a" nil]}
{:index 13, :time 13785, :type :ok, :process 1, :f :read, :value ["a" 0]}
{:index 14, :time 14000, :type :invoke, :process 1, :f :read, :value ["b" nil]}
{:index 15, :time 14198, :type :ok, :process 1, :f :read, :value ["b" 0]}
{:index 16, :time 19116, :type :invoke, :process 1, :f :read, :value ["a" nil]}
{:index 17, :time 19466, :type :fail, :process 1, :f :read, :value ["a" nil]}
{:index 18, :time 19540, :type :invoke, :process 1, :f :read, :value ["b" nil]}
{:index 19, :time 19677, :type :fail, :process 1, :f :read, :value ["b" nil]}
